<div{{ attributes.addClass(['calendar-doors', 'grid-x', 'grid-padding-x', 'grid-padding-y', 'small-up-3', 'medium-up-4', 'large-up-6']) }}>
  {% for door in doors %}
    <div class="calendar-doors__door cell">{{ door }}</div>
  {% endfor %}
</div>
