{#
/**
 * @file
 *
 * Default advent calendar door template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - content: The rendered invoice fields.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 *
 * @ingroup themeable
 */
#}
{% set show_letter = answer_letter and is_past %}
{%
  set classes = [
  'advent-calendar-door',
  'advent-calendar-door--day-' ~ label,
  is_active ? 'advent-calendar-door--active',
  is_future ? 'advent-calendar-door--future',
  is_past ? 'advent-calendar-door--past',
  'square',
  show_letter ? 'advent-calendar-door--with-letter'
]
%}
<article{{ attributes.addClass(classes) }} data-door-id="{{ label }}">
  <div class="advent-calendar-door__day square__content">
    {{ title_prefix }}
    {{ label }}
    {{ title_suffix }}
  </div>
  {% if show_letter %}
    <div class="advent-calendar-door__letter square__content">{{ answer_letter }}</div>
  {% endif %}
  {% if is_active %}
    <div class="advent-calendar-door__content reveal large" data-reveal data-door-id="{{ label }}" data-animation-in="scale-in-up" data-animation-out="scale-out-up">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell small-12 medium-8 large-4 small-order-1 medium-order-1 large-order-1">
          <div class="advent-calendar-door__header">
            {% if site_logo %}
              <div class="advent-calendar-door__header__logo"><img src="{{ site_logo }}" alt="Adventkalender"/></div>
            {% endif %}
            <h2 class="h1 advent-calendar-door__header__name">
              Adventkalender<br/>Tag {{ label }}
            </h2>
          </div>
        </div>
        <div class="cell small-12 medium-12 large-4 align-self-middle small-order-2 medium-order-3 large-order-2">
          <p>Entdecken Sie jeden Tag ein Schnäppchen in unserem Adventkalender. Zusätzlich können Sie einen Lösungsbuchstaben für die Teilnahme an unserem Weihnachtsgewinnspiel sammeln!</p>
        </div>
        <div class="cell small-12 medium-4 small-order-3 medium-order-2 large-order-3">
          {% if answer_letter %}
            <div class="advent-calendar-door__letter-info">
              <h2>Buchstabe des Tages</h2>
              <div class="advent-calendar-door__letter-info__letter">{{ answer_letter }}</div>
            </div>
          {% endif %}
        </div>
        <div class="cell small-12 medium-8 small-order-4 medium-order-4 large-order-4">
          {{ content.description }}
          {{ content.readmore_url }}
        </div>
        <div class="cell small-12 medium-4 small-order-5 medium-order-5 large-order-5">
          {{ content.image }}
        </div>
        {#todo: door contest related fields!#}
      </div>
    </div>
  {% endif %}
</article>
