{% include '@ac_base/layout/partials/page-header.html.twig' %}
  {% if page.teaser %}
    <aside id="page-teaser">
      {{ page.teaser }}
    </aside>
  {% endif %}
  {% if page.breadcrumb %}
    <aside id="page-breadcrumb">
      {{ page.breadcrumb }}
    </aside>
  {% endif %}
<div id="page-content" {{ attributes.addClass(['grid-x', 'grid-padding-x']) }} role="main">
  <main{{ main_content_attributes.addClass('calendar-width') }}>
    {% include '@agoratheme/layout/partials/page-info.html.twig' %}
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {{ page.title }}
    {{ page.content }}
  </main>

  {% if page.sidebar %}
    <aside{{ sidebar_attributes }}>
      {{ page.sidebar }}
    </aside>
  {% endif %}
</div>
{% include '@agoratheme/layout/partials/page-footer.html.twig' %}
